<div class="footer row">
  <div class="span3">
          <p class="text-center">
          <%= t('.copyright', :year => Time.now.year,
                              :site_name => Refinery::Core.site_name) %>
          </p>
    </div>
  <div class="span3">
  <a class="sitemap" href="/sitemap.xml">Sitemap</a>
  </div>
</div>
